/* You can add global styles to this file, and also import other style files */

/* background-color: #8ABA87; */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/*import the styles for the latex*/
/* @import 'katex/dist/katex.css'; */


/* .open-close-container {
  border: 1px solid #dddddd;
  margin-top: 1em;
  padding: 20px 20px 0px 20px;
  color: #000000;
  font-weight: bold;
  font-size: 20px;
} */
/*
.txt{
    width:100%;
    font-size: 1.1rem;
    border:  1px solid grey;
} */

                        /*IMPORTING FONTS */

@font-face {
  font-family: lato-regular;
  src: url("../../assets/fonts/Lato/Lato-Regular.ttf") format("truetype");
}
@font-face {
  font-family: lato-light;
  src: url("../../assets/fonts/Lato/Lato-Light.ttf") format("truetype");
}
@font-face {
  font-family: lato-thin;
  src: url("../../assets/fonts/Lato/Lato-Thin.ttf") format("truetype");
}
@font-face {
  font-family: lato-bold;
  src: url("../../assets/fonts/Lato/Lato-Bold.ttf") format("truetype");
}

.pad{
  padding:30px;
}

.textannotationbigger{
  font-family:'lato-light';
  font-size:18px;
  font-weight: 500;
  color:white;

}


 .hline1{
    flex:1;
    display: block;
    height: 1px;
    border: 0;
    border-top:1px solid gray;
    margin: 0px auto 0px auto;
    padding: 0;
    width:90%;
    opacity: 50%;
 }

.textheading{
  font-family: 'lato-bold';
  font-size:15px;
}

.textannotationsmaller{
  font-family:'lato-light';
  font-size:11px;
  font-weight:700;
  color:white;

}

.buttonfont{
  font-size:13px;
  font-style: bold;
  font-family:'lato-bold';
  color:white;
}

.textparagraph{
  font-family: 'lato-regular';
  font-size:14px;
  color:white;
}

.box {
    display: block;
}

.hline{
   flex:1;
   display: block;
   height: 1px;
   border: 0;
   border-top:1px solid gray;
   margin: 0px auto 0px auto;
   padding: 0;
   width:80%;
}

.flex_0{

}

.flex_0_1{
  background-color:#433F40;
  height:30px;
  /* font-size:30px; */
  color:white;
}


.flex_0_5{

}


.flex_0_6{
  justify-content: space-between;

  border:1px solid gray;

}
