body{
  background-color: orange;
}
p{
  color:white;
  font-family:noto sans light;
  font-weight: 300;
}

h2{
  color:white;
  font-family:noto sans light;
}

li{
  color:white;
  font-family: noto sans light;
}
