
<div class="parentcontainer text-center">


        <div    class="child_one text-center">
          <div    class=" text-2xl mt-4 font-bold  text-center  text">
                     Graphing Panel
          </div>

          <div @stretchout class="hline"></div>
          <!-- Add the chart -->


                <div class="mt-10">
                        <canvas id="mylinechart" width="400" height="200">
                        </canvas>
                </div>

        </div>

                <div  class="child_two">
                 </div>


</div>
