/* You can add global styles to this file, and also import other style files */

/* background-color: #8ABA87; */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


.parentcontainer{
  display: flex;
  flex-direction: column;
  height: 100%;
  gap:20px;

}
.flex_child_container{
  flex:1;
  /* background-color:#433F40; */
}
.subchild1_1{
  background-color:#433F40;
  height:60px;
}

.subchild1_2{
  background-color:#252223;
}
.child_one{

}

.child_two{

}

.child_three{

}

.hline_container{
  display: flex;
  border-radius: 10px;
  background-color:orange;
  height:5px;
}

.text{
  color:#00ACEE;
  font-family: noto sans light;
  font-size:30px;
}


.hline{
  flex:1;
   display: block;
   height: 1px;
   border: 0;
   border-top:1px solid #00ACEE;
   margin: 0px auto 0px auto;
   padding: 0;
   width:80%;
}
