<div class="Output" style="line-height:0.001%;font-size:16px;font-family:ubuntu light;">
  <h2 style="text-align:center;font-size:22px;font-family:noto sans light;margin-top:30px;margin-bottom:30px;">Command Panel</h2>

  <div id="inner_block_a">
    <table id="table_output">
      <tr>
      <td ><h3>Module 1 output:</h3></td>
      <td id="Output_value_1"> </td>
      </tr>
    </table>
  </div>

  <div id="inner_block_b">

  </div>

  <button id="exe-btn">Start</button>


  <!-- <table id="table_output">
    <tr>
    <td ><h3>Module 1 output:</h3></td>
    <td id="Output_value_1"> </td>
    </tr>
    <tr>
      <td><h3>Module 2 output:</h3></td>
      <td id="Output_value_2"> </td>
     </tr>
     <tr>
      <td><h3>Module 3 output:</h3></td>
      <td id="Output_value_3"> </td>
     </tr>
     <tr>
     <td ><h3>Module 4 output:</h3></td>
     <td id="Output_value_4"> </td>
     </tr>
     <tr>
       <td><h3>Module 5 output:</h3></td>
       <td id="Output_value_5"> </td>
      </tr>
      <tr>
       <td><h3>Module 6 output:</h3></td>
       <td id="Output_value_6"> </td>
      </tr>
     <tr>
        <button id="exe-btn">Start</button>
     </tr>
  </table> -->
</div>
