<!doctype html>
<html lang="en">
<head>
<script src="node_modules/chart.js/src/chart.js"></script>
<meta charset="utf-8">
<title>DataModellingInterface</title>
<base href="/">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/x-icon" href="favicon.ico">

</head>
<!-- <app-root></app-root>

<app-infopanelvertical></app-infopanelvertical> -->
<!-- <app-header></app-header> -->

<!-- <div class="Background_photo_page_1" style="top: 0px;bottom: 0px; right:0px;left:0px;"></div> -->
<body>

<div class="headingfont topbar backgroundcol flex  inset-0 items-center justify-start bg-gray-100 shadow-md text-left p-0">
<div class="header_0_0 ml-10">
DATA MODELLING INTERFACE
</div>
</div>

<div class="grid-wrapper ml-3 mr-3 mt-5  justify-items-center">

<!-- <div class=" onediv shadow-md box-border h-10 min-w-full    self-center   p-4 inset-0 flex items-center justify-center text-xl text-black backgroundcol content-center ">
 1
</div>
<div class="twodiv shadow-md box-border h-10 min-w-full    self-center   p-4 inset-0 flex items-center justify-center text-xl text-black backgroundcol content-center ">
Main Heading
</div>
<div class="threediv box-border h-10 min-w-full   shadow-md  self-center   p-4 inset-0 flex items-center justify-center text-xl text-black backgroundcol content-center ">
3
</div> -->


<div class="fourdiv  place_box_thin  font-sans justify-center text-2xl text-white items-center ">
 <app-verticalsidebar></app-verticalsidebar>
</div><div class="fivediv  box-border shadow-md   p-4 min-h-full min-w-full backgroundcol content-center">
<!-- 5 -->
<!-- <app-animationbar></app-animationbar> -->
</div>
<div  class=" sevendiv  font-sans text-2xl justify-center items-center box-border shadow-md  w-32 min-h-full min-w-full p-4  content-center backgroundcol   ">
<!-- 7 -->
<app-analysispanel></app-analysispanel>
</div>
<!-- <div class="tendiv inset-0 font-sans text-2xl justify-center flex items-center box-border shadow-md h-32 w-32 min-h-full min-w-full p-4  content-center backgroundcol  ">
10
</div> -->
<!-- <div class="elevendiv  box-border shadow-md   p-0 min-h-full min-w-full bg-purple-100 content-center ">
<app-terminalpipe></app-terminalpipe>
</div> -->
</div>

<!-- <div class="gridfooter">
<div class="footer">
<div class="twelvediv mt-4 shadow-2xl box-border shadow-md  w-32 min-h-full  min-w-full p-4 inset-0 font-sans text-3xl flex items-center justify-center text-xl text-white content-center bg-black  ">
Footer
</div>
</div>
</div> -->


</body>
</html>
