<!doctype html>
<html lang="en">
<head>
<script src="node_modules/chart.js/src/chart.js"></script>
<meta charset="utf-8">
<title>DataModellingInterface</title>
<base href="/">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/x-icon" href="favicon.ico">

</head>
<!-- <app-root></app-root>

<app-infopanelvertical></app-infopanelvertical> -->
<!-- <app-header></app-header> -->

<!-- <div class="Background_photo_page_1" style="top: 0px;bottom: 0px; right:0px;left:0px;"></div> -->
<body>

<div class="headingfont topbar backgroundcol flex  inset-0 items-center justify-center bg-gray-100 shadow-md text-left p-0">
  <div @colorfadeinout class="header_0_0">


    <svg height="110px" width="140px" viewBox="0 0 190 160">

      <g
           inkscape:groupmode="layer"
           id="layer3"
           inkscape:label="Back"
           style="display:inline">
          <rect
             style="opacity:1;vector-effect:none;fill:#2d2a2b;fill-opacity:0;fill-rule:nonzero;stroke:none;stroke-width:3.72799993;stroke-linecap:round;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
             id="rect1856"
             width="202.05577"
             height="150.4193"
             x="3.7417736"
             y="10.005981"
             rx="23.44047"
             ry="5.6843348e-14" />
        </g>
        <g
           inkscape:groupmode="layer"
           id="layer4"
           inkscape:label="Top"
           style="display:inline">
          <path
             style="opacity:1;vector-effect:none;fill:none;fill-opacity:1;fill-rule:nonzero;stroke:{{strandobject.one}};stroke-width:5.42799997;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
             id="path921"
             sodipodi:type="arc"
             sodipodi:cx="98.361061"
             sodipodi:cy="106.36432"
             sodipodi:rx="44.729286"
             sodipodi:ry="44.729286"
             sodipodi:start="4.2138742"
             sodipodi:end="5.1775223"
             sodipodi:open="true"
             d="M 76.975023,67.078871 A 44.729286,44.729286 0 0 1 118.42402,66.386993"
             transform="rotate(0.51748696)" />
          <path
             style="opacity:1;vector-effect:none;fill:none;fill-opacity:0.68181817;fill-rule:nonzero;stroke:none;stroke-width:1.92850399;stroke-linecap:round;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.97979796;marker-start:none;marker-end:none"
             d="m 538.58919,412.50674 c 4.15895,-4.15938 7.57596,-7.5625 7.59336,-7.5625 0.0174,0 0.0316,3.40312 0.0316,7.5625 v 7.5625 h -7.59336 -7.59337 z"
             id="path1102"
             inkscape:connector-curvature="0"
             transform="scale(0.26458333)" />
          <path
             style="opacity:1;vector-effect:none;fill:none;fill-opacity:0.68181817;fill-rule:nonzero;stroke:none;stroke-width:1.92850399;stroke-linecap:round;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.97979796;marker-start:none;marker-end:none"
             d="m 538.58919,412.50674 c 4.15895,-4.15938 7.57596,-7.5625 7.59336,-7.5625 0.0174,0 0.0316,3.40312 0.0316,7.5625 v 7.5625 h -7.59336 -7.59337 z"
             id="path1104"
             inkscape:connector-curvature="0"
             transform="scale(0.26458333)" />
          <path
             style="display:inline;opacity:1;vector-effect:none;fill:#00acee;fill-opacity:0.91414143;fill-rule:nonzero;stroke:none;stroke-width:3.83800006;stroke-linecap:round;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.97979796;marker-start:none;marker-end:none"
             d="M 58.741879,47.700607 C 52.840676,40.164792 47.565612,33.429598 47.019517,32.733511 l -0.992902,-1.26561 h 3.376779 3.37678 l 9.692004,12.11399 c 5.330601,6.662695 9.755513,12.218093 9.833137,12.345326 0.08355,0.136956 -0.195329,0.785741 -0.68358,1.590254 -1.071346,1.765305 -1.813489,3.237635 -1.813489,3.597765 0,0.157768 -0.0758,0.28685 -0.168452,0.28685 -0.09265,0 -4.996712,-6.165664 -10.897915,-13.701479 z"
             id="path1082"
             inkscape:connector-curvature="0" />
          <path
             style="display:inline;opacity:1;vector-effect:none;fill:#00acee;fill-opacity:0.91414143;fill-rule:nonzero;stroke:none;stroke-width:10.25716877;stroke-linecap:round;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.97979796;marker-start:none;marker-end:none"
             d="m 230.22712,152.4379 -26.23749,-33.5041 18.88122,0.0362 18.88123,0.0362 18.38477,23.08118 c 10.11163,12.69465 18.38478,23.2944 18.38478,23.55499 0,0.26059 -2.22739,2.29174 -4.94975,4.51366 -2.72236,2.22193 -7.68519,6.68276 -11.02851,9.91296 l -6.07877,5.8731 z"
             id="path1084"
             inkscape:connector-curvature="0"
             transform="scale(0.26458333)" />
          <path
             style="display:inline;opacity:1;vector-effect:none;fill:#00acee;fill-opacity:0.91414143;fill-rule:nonzero;stroke:none;stroke-width:2.71387577;stroke-linecap:round;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.97979796;marker-start:none;marker-end:none"
             d="m 124.69031,46.701426 c -1.08044,-0.970597 -2.40509,-2.08008 -2.94367,-2.465514 -0.53858,-0.385437 -0.94309,-0.800918 -0.8989,-0.923293 0.0442,-0.122378 2.16864,-2.836158 4.72101,-6.030629 l 4.64067,-5.808128 4.91108,-0.003 c 2.70109,-0.0016 4.91108,0.03554 4.91108,0.08262 0,0.141179 -13.10917,16.843158 -13.24834,16.879292 -0.0707,0.01836 -1.01249,-0.760761 -2.09293,-1.731362 z"
             id="path1086"
             inkscape:connector-curvature="0" />
          <path
             style="display:inline;opacity:1;vector-effect:none;fill:#00acee;fill-opacity:0.91414143;fill-rule:nonzero;stroke:none;stroke-width:2.71387577;stroke-linecap:round;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.97979796;marker-start:none;marker-end:none"
             d="m 124.58387,60.917285 c 0,-0.594937 -0.51343,-1.664679 -1.80854,-3.768087 -0.54228,-0.88073 -0.78019,-1.442599 -0.68157,-1.609651 0.0833,-0.141148 4.44051,-5.615012 9.68262,-12.16414 l 9.53112,-11.907506 h 3.34227 c 2.62608,0 3.31134,0.05011 3.19791,0.23386 -0.1095,0.177368 -22.87411,29.30898 -23.19685,29.684736 -0.0368,0.04287 -0.067,-0.168272 -0.067,-0.469212 z"
             id="path1088"
             inkscape:connector-curvature="0" />
        </g>
        <g
           inkscape:label="Layer 1"
           inkscape:groupmode="layer"
           id="layer1"
           style="display:inline">
          <path
             style="opacity:1;vector-effect:none;fill:{{strandobject.three}};fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.33200002;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.98989898;marker-start:none;marker-end:none"
             d="M 96.961468,99.71698 V 73.117878 L 107.57964,59.826003 c 5.84,-7.310533 10.77126,-13.456385 10.95836,-13.657453 0.28533,-0.306644 0.65292,-0.108259 2.28025,1.230622 1.06704,0.877912 2.39122,2.06425 2.94263,2.636309 l 1.00255,1.040108 -9.66765,12.344363 -9.66766,12.344363 v 24.433775 24.43377 l -1.78594,0.42593 c -0.98227,0.23426 -2.61938,0.55757 -3.63802,0.71847 -1.018644,0.1609 -2.119968,0.34818 -2.447385,0.41619 l -0.595307,0.12363 z"
             id="path959"
             inkscape:connector-curvature="0" />
          <path
             style="opacity:1;vector-effect:none;fill:{{strandobject.four}};fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.30000001;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.98989898;marker-start:none;marker-end:none"
             d="M 108.02952,95.674713 V 73.105816 l 5.92623,-7.405473 5.92623,-7.405476 0.33512,0.438227 c 0.18431,0.241025 0.85011,1.43139 1.47956,2.645259 1.06458,2.053021 1.12524,2.235795 0.86916,2.61924 -0.15142,0.226716 -2.26133,2.937907 -4.68871,6.024872 l -4.41341,5.612659 -0.004,19.01612 -0.004,19.016116 -1.13742,1.05305 c -0.92778,0.85896 -2.4573,2.12053 -4.0543,3.34404 -0.18678,0.1431 -0.23386,-4.36379 -0.23386,-22.389737 z"
             inkscape:connector-curvature="0"
             id="path961" />
          <path
             style="opacity:1;vector-effect:none;fill:{{strandobject.two}};fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.88727987;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.98989898;marker-start:none;marker-end:none"
             d="m 355.60758,474.98068 c -3.69463,-0.73174 -9.81994,-2.1754 -13.6118,-3.20814 l -6.89429,-1.87771 v -91.7686 -91.76859 l -33.68593,-43.02626 c -18.52727,-23.66445 -34.63995,-44.2409 -35.80597,-45.72546 l -2.12004,-2.6992 2.74873,-2.8555 c 4.60642,-4.78535 18.9623,-16.89457 19.78471,-16.68845 0.4249,0.10648 18.9585,22.94477 41.18579,50.75175 l 40.41326,50.55813 0.003,99.87883 0.004,99.87884 -2.65165,-0.0596 c -1.45841,-0.0328 -5.67453,-0.6583 -9.36917,-1.39004 z"
             inkscape:connector-curvature="0"
             id="path963"
             transform="scale(0.26458333)" />
          <path
             style="opacity:1;vector-effect:none;fill:{{strandobject.one}};fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.23475946;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.98989898;marker-start:none;marker-end:none"
             d="m 84.633848,116.71078 c -0.776248,-0.61207 -1.966336,-1.632 -2.644641,-2.26652 l -1.233278,-1.15367 V 94.550168 75.809747 l -4.607301,-5.880563 -4.607298,-5.880563 1.278284,-2.494534 c 0.703059,-1.371995 1.381263,-2.579997 1.50712,-2.68445 0.169788,-0.140911 1.726353,1.683724 6.032746,7.07171 l 5.803916,7.261624 0.009,22.310323 c 0.005,12.270676 -0.02162,22.310326 -0.05909,22.310326 -0.03748,0 -0.703257,-0.50078 -1.479505,-1.11284 z"
             inkscape:connector-curvature="0"
             id="path965" />
          <rect
             style="display:inline;opacity:1;vector-effect:none;fill:#2d2a2b;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:8.01669979;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
             id="rect860"
             width="27.746334"
             height="5.0123248"
             x="133.11792"
             y="20.653503"
             rx="13.873167"
             ry="7.1594037e-14"
             transform="rotate(44.957143)" />
          <rect
             style="display:inline;opacity:1;vector-effect:none;fill:#2d2a2b;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:7.68504858;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
             id="rect860-3"
             width="26.531576"
             height="5.7949638"
             x="-5.7993932"
             y="158.03693"
             rx="13.265788"
             ry="6.8632179e-14"
             transform="matrix(-0.7076355,0.70657767,0.70657767,0.7076355,0,0)" />
          <path
             style="opacity:1;vector-effect:none;fill:#696969;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:12.88166904;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
             d="m 93.389904,69.17873 c -3.400594,-4.264749 -3.5449,-4.512552 -2.80131,-4.810295 1.082352,-0.433383 13.212596,-0.465813 13.623506,-0.03641 0.20561,0.214853 -0.97676,1.981105 -3.17796,4.747315 -1.927956,2.422842 -3.629932,4.448051 -3.782163,4.500472 -0.152231,0.05242 -1.890163,-1.928063 -3.862073,-4.401073 z"
             id="path859"
             inkscape:connector-curvature="0" />
        </g>
    </svg>

  </div>
<div @colorfadeinout class="header_0_1">
DATA MODELLING INTERFACE
</div>
</div>

<div class="grid-wrapper ml-3 mr-3 mt-5  justify-items-center">

<!-- <div class=" onediv shadow-md box-border h-10 min-w-full    self-center   p-4 inset-0 flex items-center justify-center text-xl text-black backgroundcol content-center ">
 1
</div>
<div class="twodiv shadow-md box-border h-10 min-w-full    self-center   p-4 inset-0 flex items-center justify-center text-xl text-black backgroundcol content-center ">
Main Heading
</div>
<div class="threediv box-border h-10 min-w-full   shadow-md  self-center   p-4 inset-0 flex items-center justify-center text-xl text-black backgroundcol content-center ">
3
</div> -->


<div class="fourdiv  place_box_thin  font-sans justify-center text-2xl text-white items-center ">
 <app-verticalsidebar></app-verticalsidebar>
</div><div class="fivediv  box-border shadow-md   p-4 min-h-full min-w-full backgroundcol content-center">
<!-- 5 -->
<!-- <app-animationbar></app-animationbar> -->
</div>
<div  class=" sevendiv  font-sans text-2xl justify-center items-center box-border shadow-md  w-32 min-h-full min-w-full p-4  content-center backgroundcol   ">
<!-- 7 -->
<app-analysispanel></app-analysispanel>
</div>
<!-- <div class="tendiv inset-0 font-sans text-2xl justify-center flex items-center box-border shadow-md h-32 w-32 min-h-full min-w-full p-4  content-center backgroundcol  ">
10
</div> -->
<!-- <div class="elevendiv  box-border shadow-md   p-0 min-h-full min-w-full bg-purple-100 content-center ">
<app-terminalpipe></app-terminalpipe>
</div> -->
</div>

<!-- <div class="gridfooter">
<div class="footer">
<div class="twelvediv mt-4 shadow-2xl box-border shadow-md  w-32 min-h-full  min-w-full p-4 inset-0 font-sans text-3xl flex items-center justify-center text-xl text-white content-center bg-black  ">
Footer
</div>
</div>
</div> -->


</body>
</html>
