<div class="flex_container ">
            <div class=" box-border box1 shadow-md  backgroundcolboxA text-center ">
                          <!-- <div class="text-4xl mt-4
                              text font-bold bg-red-500 text-white ">Console Output</div> -->
                  <div class="box1flexcontainer flex-col">
                          <div    class="subchild1_1  textheading rounded-t-lg flex justify-center content-center inset-0 items-center     text-center  ">
                                     Console Panel
                          </div>
                          <div class="linecontainer"><div @stretchout class="hline"></div></div>

                          <div class=" box1childcflexcontainer p-4 flex-1 text-left">
                                          <table class="datatable gap-2 bg-orange-500 flex-grow">

                                                  <colgroup>
                                                    <col span="1" style="width: 28%;">
                                                    <col span="1" style="width: 2%;">
                                                    <col span="1" style="width: 50%;">
                                                    <col span="1" style="width: 15%;">

                                                  </colgroup>
                                                          <!-- animate-pulse -->
                                                  <tr class="traverse">
                                                    <td  class="alignright"> {{dataobject.apiendpoint}} </td>
                                                    <td><div [@openclose]="isOpen ? 'open' : 'closed'" class="center colbox "></div></td>
                                                    <td class="center bold-text wide">Server  </td>
                                                    <td class="ml-3 accent-text">string</td>

                                                    <!-- <td class="ml-3 accent-text">&#176; C  </td> -->
                                                  </tr>

                                                  <tr class="traverse">
                                                    <td class="alignright">  </td>
                                                    <td><div @fade class="colbox center"></div></td>
                                                    <td class="center bold-text">Graph A Data </td>
                                                    <td class="ml-3 accent-text">string  </td>
                                                  </tr>

                                                  <tr class="traverse">
                                                    <td class="alignright">  </td>
                                                    <td><div @fade class="colbox center"></div></td>
                                                    <td class="center bold-text">DENSITY  </td>
                                                    <!-- <td class="accent-text">&#181;g/m<sup>3</sup>  </td> -->
                                                    <td class="accent-text">&#181;g/m<sup>3</sup>  </td>

                                                  </tr>

                                                  <tr class="traverse">
                                                    <td class="alignright"> </td>
                                                    <td><div @fade class="colbox center"></div></td>
                                                    <td class="center bold-text">ANGULAR MOMENTUM  </td>
                                                    <td class="accent-text">&#181;g/m<sup>3</sup>  </td>
                                                  </tr>

                                                  <tr class="traverse">
                                                    <td class="alignright">   </td>
                                                    <td><div @fade class="colbox center"></div></td>
                                                    <td class="center bold-text">SPECIFIC GRAVITY  </td>
                                                    <td class="accent-text">&#181;g/m<sup>3</sup>  </td>
                                                  </tr>

                                                  <tr class="traverse">
                                                    <td class="alignright">   </td>
                                                    <td><div @fade class="colbox center"></div></td>
                                                    <td class="center bold-text">X  </td>
                                                    <td class="accent-text">&#181;g/m<sup>3</sup>  </td>
                                                  </tr>

                                                  <tr class="traverse">
                                                    <td class="alignright">   </td>
                                                    <td><div @fade class="colbox center"></div></td>
                                                    <td class="center bold-text">Y  </td>
                                                    <td class="accent-text">&#181;g/m<sup>3</sup>  </td>
                                                  </tr>

                                                  <tr class="traverse">
                                                    <td class="alignright">  </td>
                                                    <td><div @fade class="colbox center"></div></td>
                                                    <td class="center bold-text">Z  </td>
                                                    <td class="accent-text">&#181;g/m<sup>3</sup>  </td>
                                                  </tr>

                                                  <tr class="traverse">
                                                    <td class="alignright">   </td>
                                                    <td><div @fade class="colbox center"></div></td>
                                                    <td class="center bold-text">Distance from origin  </td>
                                                    <td class="accent-text">&#181;g/m<sup>3</sup>  </td>
                                                  </tr>


                                          </table>

                                      <div @fade class="flex_button_container mb-4  ">
                                                  <button  class="buttonfont boxbutton bg-blue-500  box-border inset-0 font-sans justify-center text-2xl  font-bold flex items-center  text-white text-center ">Execute</button>
                                      </div>
                          </div>
                  </div>
             </div>

             <!-- <div   class=" box box-border box2 shadow-md backgroundcolboxA text-center">
                           <div class="text-4xl mt-4
                              text font-bold text-white">Box 2</div>
                           <div @stretchout class="hline"></div>
                           <div class="p-2  ml-8 mr-8 mb-4 text-left ">
                                Press create to form a new project and press delete to remove existing.
                           </div>
                           <div @fade class="flex_button_container ">
                                      <div class=" boxbutton order-1 box-border inset-0 font-sans justify-center text-2xl  font-bold flex items-center  text-white bg-red-500 text-center ">Delete</div>
                                      <div class=" boxbutton box-border inset-0 font-sans justify-center text-2xl  font-bold flex items-center  text-white bg-green-500 text-center ">Create</div>
                           </div>

            </div> -->
</div>
