/* You can add global styles to this file, and also import other style files */

/* background-color: #8ABA87; */


.Background_photo_page_1{
	/* background-image: url('/static/n.png');*/
  	background-color: #1D1D1D;
    /* background-color: #8ABA87; */
	z-index: -3;
	position: absolute;
    	-webkit-background-size: cover;
 	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;

}
td{
  font-family: noto sans light;
  font-weight: 200; 

}


.main_grid_wrapper{
  display: grid;
  z-index: 100;
  /*Define widths */
  /*grid-template-columns: 1fr 2fr 1fr;*/
  /* Can add gap between columns(all) */
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
   /* grid-auto-rows: 100px; */
  grid-auto-rows:minmax(80px,auto);
  /* Align the items in the box to start of their individual cell, "center" of their individual cell */
  /* Default is "stretch", "end" also available */
  justify-items:stretch;
 }

 /* NOTE: useful for debugging */
/* .main_grid_wrapper > div{
  background: #eee;
  padding: 1em;
}

.main_grid_wrapper > div:nth-child(odd){
  background: #ddd;
} */

.one_heading{
   /* background: #1f1f1f; */
}
.two_heading{
   grid-column: 2/4;

}
.two_whitespace{
   margin-top:-20px;
}
.three_whitespace{
  grid-column: 4/5;
  grid-row: 1/2;

 }

 .four_var_container{
   grid-column: 1/2;
   grid-row: 2/5;
   height:250px;
   padding:20px;
 }

.five_graph_container{
  height: 250px;
}

.six_whitespace{
  height: 250px;
}

.nine_whitespace{
  grid-row: 3/4;
  grid-column: 2/3;
}

.ten_whitespace{
  grid-row:2/4 ;
  grid-column:4/5 ;
 }


.main_heading {
  font-size: 23px;
  font-family: noto sans light;
  font-weight: 100;
  color: White;
  text-align: center;

}


/*
.main_heading_paragraph{
  position: relative;
  float: left;
  font-size: 18px;
  font-family: noto sans light;
  margin: 0px 700px 0px 50px;
  color: White;
  text-align: left;

 }
*/

 .Output{
	font-family: noto sans;
  color:White;
  font-weight: 200;
  float: left;
  line-height: 0.5;
  border-radius: 30px;
  background-color:#3A3A3A;
  width: 100%;
  height: 580px;
}

.Output #inner_block_a{
  background-color:#474747;
  width: 95%;
  border-radius: 7px;
  margin-left: 11px;
  height:200px;
  margin-top: 25px;
}

.Output #inner_block_b{
  background-color:#474747;
  width: 95%;
  border-radius: 7px;
  margin-left: 11px;
  height:200px;
  margin-top: 25px;

}

.Output #table_output{
  margin-left: 20px;
  margin-bottom: 20px;

}

#Output_value_1{
	 font-size: 20px;
   color:#FFFFFF;
   font-family: iosevka;

}

#Output_value_2{
	font-size: 20px;
  font-family: iosevka;
  /*color:#00ACEE;*/

}
#Output_value_3{
	font-size: 20px;
  font-family: iosevka;
  /*color:#00ACEE;*/

}

/*
#exe-btn{
  margin-top: 25px;
  margin-left: 0px;
	background-color:#20BDF1;
	width: 100px;
	height: 35px;
	border: none;
	border-radius: 40px;
	color: White;
  float:right;
	font-family: noto sans light;
	font-weight: bold;

} */

#exe-btn{
  margin-top: 25px;
  margin-left: 0px;
  margin-right:20px;
	/* background-color:#20BDF1; */
  background-color:#0EB1E6;
  background: linear-gradient(90deg, #0EB1E6, #55E7FC);

	width: 100px;
	height: 35px;
	border: none;
	border-radius: 40px;
	color: White;
  float:right;
  font-size: 17px;
	font-family: noto sans light;
	font-weight: bold;

}

 .Output2{
   color:White;
   border-radius: 30px;
  background-color:#3A3A3A;
  width: 100%;
  height: 770px;
  margin-top:0px;
  font-family: noto sans light;
  font-weight: 200;

}


.Output2 #text{
  position: absolute;
   margin-top: 0px;
   margin-right:20px;
   padding:20px;
  line-height: 20px;
  font-size:18px;
  font-family: noto sans light;
  font-weight: 200;

}

/* .Output2 #heading{
  position: absolute;
  text-align: center;
  margin-left: 170px;
  margin-top: 20px;
} */

/*
.Output2 #table_output2{
  margin-left: 20px;
  margin-bottom: 20px;

} */
/*

.Socket_message_wrapper{
	position: relative;
	margin-left: -485px;
	  float: left;
	 margin-top: 250px;;
}

.message_holder{
	position: relative;
	margin-left: -585px;
	float: left;
	margin-top: 250px;
	z-index: 23	;
}

.response{
	position: relative;
	margin-left: -585px;
	float: left;
	margin-top: 250px;
	z-index: 23	;

}

.cool_box{
	position: absolute;
	height: 250px;
	width: 400px;
	z-index: -2;
	margin: 240px 39px 0px;
	border-radius: 30px;
	background-color:#2C2A2B;
}

.chartcanvas{
	position: absolute;
	height: 550px;
	margin: 310px 600px;
	width: 600px;
}
#myChart{
	width: 100px;
	height: 100px;
}


.chartcanvas1{
	position: absolute;
	height: 750px;
	margin: 310px 600px;
	width: 600px;
}
#myChart{
	width: 100px;
	height: 100px;
} */
