<div class="flex_container ">


              <div class=" box box-border  bg-blue-100 text-center ">
                      <div class="text-2xl mt-4
                         font-bold  text">
                                 Terminal  
                      </div><hr/>
                      <!-- Terminal content -->

                      <div class="terminalcontent">
                        <table class=" ml-10 mt-2">
                        <tr>~$ </tr>
                        <tr>~$ clear </tr>
                        <tr>~$ top </tr>
                        <tr>~$ ps -e | grep vlc</tr>



                        </table>

              </div>


</div>
