/* You can add global styles to this file, and also import other style files */

/* background-color: #8ABA87; */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";



.flex_container{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.box{
  flex:1;
  background-color: #1F2430;

  }

.text{
  color:#BFBAB0;
}

   hr {
       display: block;
       height: 1px;
       border: 0;
       border-top:1px solid #BFBAB0;
       margin: 10px auto 0px auto;
       padding: 0;
       width:80%;
   }
